<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LoginMapper">
	<select id="login" resultType="int">
		<![CDATA[
			SELECT count(*)
			FROM   Member
			where loginid = #{userId}
			AND loginpw = #{userPw}
			
		]]>	
	</select>
	
	<select id="loginUserInfo" resultType="com.example.demo.vo.LoginVO">
		SELECT iid, loginid as userId, loginpw as userPw, loginName 
		FROM member 
		WHERE loginid = #{userId}
		AND loginpw = #{userPw}
	</select>
</mapper>  